.footer {
    max-width: 100%;
    width: 880px;
    margin: 67px auto 60px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    color: #545454;
}

@media screen and (max-width: 1280px) {
    .footer {
        max-width: 688px;
    }

}

@media screen and (max-width: 544px) {
    .footer {
        max-width: 282px;
    }

}