.gallery {
    width: 100%;
    max-width: 880px;
    margin: 0px auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 282px);
    grid-template-rows: repeat(2, auto);
    gap: 17px;
}

.gallery__card {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 282px;
    height: 361px;
    object-fit: cover;
    background-color: #FFFFFF;
    border-radius: 10px 10px 10px 10px;

}
   
.gallery__card-image {
    width: 282px;
    height: 282px;
    object-fit: cover;
    flex-grow: 1;
    border-radius: 10px 10px 0px 0px;
}

.gallery__card-itens {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:last baseline;
    margin: 25px 15px 31px 21px;
}
.gallery__card-title {
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    text-align: left;
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gallery__buttonLike {
    background: transparent;
    border: none;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    width: 21px;
    height: 19px;
}

.gallery__buttonLike:hover {
    opacity: 50%;
}

.gallery__buttonLike.active {
    content: url(/images/likeactive.svg);
}

.gallery__buttonLike img {
    width: 21px;  
    height: 19px;
}

.gallery__buttonLike.active img {
    content: none;
    background-image: url(/images/likeactive.svg);
    width: 21px;
}

.gallery__buttonTrash {
    position: absolute;
    background: transparent;
    border: none;
    margin-top: 18px;
    margin-left: 249px;
    padding: 0px;
    cursor: pointer;
    width: 18px;
}

.gallery__buttonTrash:hover {
    opacity: 50%;
}

@media screen and (max-width: 1280px) {
    .gallery {
        max-width: 880px;
        min-width: 545px;
        grid-template-columns: repeat(2, 282px);
        grid-template-rows: repeat(3, auto);
        align-items: center;
        justify-content: center;
    }
}


@media screen and (max-width: 544px) {
    .gallery {
        max-width: 544px;
        min-width: 282px;
        margin: 36px auto;
        grid-template-columns: repeat(1, 282px);
        align-items: center;
        justify-content: center;
    }

}