.header {
    width: 100%;
    max-width: 880px;
    margin: 45px auto 0px;
}

.header__logo {
    width: 173px;
    height: 33px;
}

.header__linhaHorizontal {
    border-top: 1px solid #545454; 
    margin: 0px;
    margin-top: 40px;
    margin-bottom: 40px;
}

@media screen and (max-width:720px) {
    .header {
        max-width: 440px;
    }
}

@media screen and (max-width:320px) {
    .header {
        max-width: 282px;
    }
}