.popup__container {
    display: grid;
    place-items: center;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
}

.popup__container.active {
    opacity: 1;
    pointer-events: auto;
}

.popup {
    position: fixed;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 430px;
    background-color: #ffffff;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
    padding: 34px 36px 37px 36px;
    box-sizing: border-box;
    border-radius: 10px;
}

.popup__close_button {
    position: absolute;
    top: -40px;
    right: -40px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.popup__close_button img {
    width: 40px;
    height: 40px;
}

.popup__close_button:hover {
    cursor: pointer;
    opacity: 60%;
}

.popup__title {
    margin: 0;
    margin-bottom: 58px;
    width: 100%;
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    text-align: left;
    color: #000000;
}

.popup_form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.popup__form_input {
    display: block;
    max-width: 100%;
    width: 358px;
    margin: 0px;
    border: #ffffff;
    border-bottom: 1px solid #c4c4c4;
    font-family: "Inter", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    color: #000000;
    margin-bottom: 29px;
}

.modal__form_input::placeholder {
    font-family: "Inter", Arial, sans-serif;
    font-size: 14px;
    align-items: center;
    color: #c4c4c4;
}


.popup__form_button {
    max-width: 100%;
    width: 358px;
    height: 50px;
    margin-top: 48px;
    border: none;
    border-radius: 2px;
    background: #000000;
    color: #ffffff;
    font-family: Inter;
    font-size: 18px;
    cursor: pointer;
}

.popup__form_button:hover {
    opacity: 80%;
}

@media screen and (max-width: 544px) {
    .popup {
        width: 282px;
    }

    .popup__close_button {
        right: -4px;
    }

    .popup__close_button img {
      width: 26px;
      height: 26px;
    }

    .popup__title {
      font-size: 18px;
      margin: 0 0 76px 0;
    }

    .popup_form {
      width: 238px;
    }
    
    .popup__form_input {
      width: 238px;
    }

    .popup__form_button {
      width: 238px;
      height: 46px;
    }
  }
