.profile {
    max-width: 100%;
    width: 880px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    gap: 30px;
}

.profile__avatar {
    width: 120px; 
    height: 120px; 
    border-radius: 50%;
    object-fit: cover;
}

.profile__info {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.profile__name-and-icon {
    display: flex;
    justify-content: flex-start;
    column-gap: 18px;
}

.profile__name {
    font-weight: 500;
    font-size: 42px;
    color: #FFFFFF;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 500px;
    color: #FFFFFF;
}

.profile__edit_button {
    width: 24px;
    height: 24px;
    margin-top: 15px;
    cursor: pointer;
    border: none;
    background: none;
}

.profile__edit_button:hover {
    opacity: 50%;
}

.profile__job {
    margin: 0px;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.profile__buttonAdd {
    justify-content: end;
    max-width: 100%;
    width: 150px;
    height: 50px;
    justify-self: end;
    display: flex;
    justify-content: center; 
    align-items: center;
    border: 2px solid white;
    background-color: black; 
    cursor: pointer;
}

.profile__buttonAdd:hover {
   opacity: 50%;
}

@media screen and (max-width: 1024px) {
  .profile {
      max-width: 688px;
  }

  .profile__name {
      font-size: 32px;
  }

  .profile__job {
      font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .profile {
    max-width: 282px;
    flex-direction: column;
  }

  .profile__avatar {
    margin-bottom: 30px;
  }

  .profile__info {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 36px;
    row-gap: 14px;
    max-width: 282px;
  }

  .profile__name-and-icon {
    justify-content: center;
    column-gap: 10px;
  }

  .profile__name {
    font-size: 22px;
    line-height: 1.21;
    max-width: 320px;
  }

  .profile__edit_button {
    width: 18px;
    height: 18px;
    margin-top: 4px;
  }

  .profile__job {
    font-size: 14px;
    text-align: center;
  }

  .profile__buttonAdd {
    margin-right: 0;
    width: 282px;
    height: 50px;
  }
}
/*@media screen and (max-width: 1280px) {
    .profile {
        max-width: 688px;
    }

    .profile__name {
        font-size: 32px;
    }

    .profile__job {
        font-size: 16px;
    }
}

@media screen and (max-width: 682px) {
    .profile {
      max-width: 282px;
      flex-direction: column;
    }

    .profile__avatar {
      margin-bottom: 30px;
    }

    .profile__info {
      margin-top: 0;
      margin-right: 0;
      margin-bottom: 36px;
      row-gap: 14px;
      max-width: 282px;
    }

    .profile__name-and-icon {
      justify-content: center;
      column-gap: 10px;
    }

    .profile__name {
      font-size: 22px;
      line-height: 1.21;
      max-width: 320px;
    }

    .profile__edit_button {
      width: 18px;
      height: 18px;
      margin-top: 4px;
    }

    .profile__job {
      font-size: 14px;
      text-align: center;
    }

    .profile__buttonAdd {
      margin-right: 0;
      width: 282px;
      height: 50px;
    }
}