.profile {
    width: 100%;
    display: grid;
    grid-template-areas: 
        "avatar name edit buttonAdd";
    grid-template-columns: 120px auto 1fr 150px;
    align-items: center;
    max-width: 880px;
    margin: 0px auto;
    gap: 30px;
}

.profile__avatar {
    grid-area: avatar;
    width: 120px; 
    height: 120px; 
    border-radius: 50%;
    object-fit: cover;
}

.profile__infos {
    display: flex;
    flex-direction: column;
}

.profile__name {
    grid-area: name;
    display: flex;
    align-items: center;
    margin: 0px;
    font-weight: 500;
    font-size: 42px;
    color: #FFFFFF;
}

.profile__job {
    grid-area: job;
    margin-top: 16px;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.profile__edit_button {
    display: flex;
    align-self: flex-start;
    margin-top: 24px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: none;
    background: none;
}

.profile__edit_button:hover {
    opacity: 50%;
}

.profile__buttonAdd {
    grid-area: buttonAdd;
    width: 150px;
    height: 50px;
    justify-self: end;
}

.profile__buttonAdd:hover {
   opacity: 50%;
}

@media screen and (max-width:720px) {
    .profile {
        max-width: 440px;
        display: grid;
        grid-template-columns: auto auto 1fr auto;
        margin: 0px 26px;
    }

    .profile__name {
        font-size: 32px;
    }

}

@media screen and (max-width:320px) {
    .header {
        max-width: 282px;
    }
}